<!DOCTYPE html>
{% load static %}
{% load humanize %}
<html lang="uz">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>CodeWay</title>
    <link rel="stylesheet" href="{% static 'blog/css/about.css' %}"/>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"/>
</head>
<body>
<header class="navbar">
    <div class="logo">
        <span class="logo-icon">&lt;/&gt;</span>
        <span class="logo-text">CodeWay</span>
    </div>
    <nav class="nav">
        <a href="{% url 'home_page' %}">Bosh sahifa</a>
        <a href="#">Maqolalar</a>
        <a href="{% url 'about_page' %}">Bog‘lanish</a>
    </nav>
</header>
<div class="container">
    <h1 class="title">Biz haqimizda</h1>
    <p class="subtitle">CodeWay — dasturchilar uchun bilim manbai</p>

    <div class="about-grid">
        <div class="about-text">
            <p><strong>{{ text.title}}</strong> — {{ text.description }}</p>
        </div>
        {% if text.image %}
        <div class="about-image">
            <img src="{{ text.image.url }}" alt="{{ text.title }}">
        </div>
        {% endif %}
    </div>
</div>

<footer class="footer">
    <div class="footer-container">
        <div class="footer-logo">
            <h2>CodeWay</h2>
            <p>Dasturchilar uchun maqolalar platformasi</p>
        </div>

        <div class="footer-links">
            <h4>Sayt bo‘limlari</h4>
            <ul>
                <li><a href="/">Bosh sahifa</a></li>
                <li><a href="/articles/">Maqolalar</a></li>
                <li><a href="/about/">Biz haqimizda</a></li>
                <li><a href="/contact/">Aloqa</a></li>
            </ul>
        </div>

        <div class="footer-social">
            <h4>Ijtimoiy tarmoqlar</h4>
            <ul>
                <a href="#"><i class="fab fa-telegram"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-github"></i></a>
            </ul>
        </div>
    </div>

    <div class="footer-bottom">
        <p>&copy; 2025 CodeWay. Barcha huquqlar himoyalangan.</p>
    </div>
</footer>

</body>
</html>
